/*==========================================*/
/*============  总CSS文件  ==================*/
/*==========================================*/
* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
}

:root{
  --default-background-color: rgba(242,255,245,0.51);
  --switch-background-color: rgb(45, 47, 49);
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 88px;
  height: 100%;
  opacity:1;
  /*background-color: var(--default-background-color);*/
}

.home {
}

.home-main {
  margin-left: 88px;
  /*background-color: white;*/
}

.side-nav-icon-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.side-nav-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.side-bar-nav-icon-common {
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-bar-nav-icon:hover{
  width: 37px;
  height: 37px;
}

.side-bar-nav-icon {
  width: 30px;
  height: 30px;
}

.side-bar-nav-last-icon {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-nav-circle{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0c0c0c;
  border-radius: 25px;
}

.side-bar-nav-circle:hover{
  background-color: rgba(204, 204, 204, 0.3);
}

.side-nav-icon-box-common{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.side-bar-nav-link {
  text-decoration: none;
  color: inherit; /* 继承父元素的文本颜色，或者你可以指定自定义颜色 */
}


/*============加载动画=================*/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}



